.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
        width: 200px;
        color: #222;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
    text-decoration: none;
    color: #222;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
  }

  button {
    background: white;
    border: 1px solid white;
    color: #222;
    transition: all .2s ease;
    padding: .6em 1em .6em;
    border-radius: 0;

    &:hover {
      color: #fff;
      background-color: #222;
      border: 1px solid #fff;
      transition: all .2s ease;
    }
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-navigation.toggled ul {
  margin-top: 30px;
}

  @include desktop {
	.menu-toggle {
    display: none;
    transition: all .3s ease;
	}
	.main-navigation ul {
    display: flex;
    flex-direction: inherit;
    justify-content: flex-end;
    width: 100%;

    li {
      margin-left: 50px;

      &:hover {
        a {
          border-bottom: 4px solid $color__olive;
        }
      }
    }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
