h1, h2, h3, h4, h5, h6 {
	clear: both;
}


h1 {
  font-family: $font__sans;
  font-size: 2rem;

  @include desktop {
    font-size: 1.7rem;
  }
}

h2 {
  font-family: $font__serif;
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .8em;
}

h5 {
  font-size: .6em;
}