// .content-area {
// 	float: right;
// 	margin: 0 0 0 (-$size__site-sidebar);
// 	width: $size__site-main;
// }

// .site-main {
// 	margin: 0 0 0 $size__site-sidebar;
// }

// .site-content .widget-area {
// 	float: left;
// 	overflow: hidden;
// 	width: $size__site-sidebar;
// }

// .site-footer {
// 	clear: both;
// 	width: $size__site-main;
// }

h2.widget-title {
  font-size: 1.2em;
  text-align: center;
}

aside .widget_recent_entries {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 2px solid $color__black;
      padding: 6px;
      margin-bottom: 15px;
      text-align: center;

      a {
        font-size: .8em;
        text-decoration: none;
      }

      &:hover {
        background-color: $color__black;
        color: $color__white;
        a {
          color: $color__white;
        }
      }
    }
  }
}

aside .widget_categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 10px;

      a {
        color: $color__olive;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
}


@import "no-sidebar";
