button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: $font__sans;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
	background: $color__black;
	color: $color__white;
	@include font-size(0.65);
	line-height: 1;
	padding: .8em 1em .6em;
  width: 100%;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
